<a href="https://colab.research.google.com/github/tnsmdwndehr/class2021Spring/blob/main/variables%ED%95%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [2]:
a=1.5
b=1
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

### 여러 값을 출력하려면 print()를 써야한다

In [3]:
a = 1; a = float(a); print(type(a))
print(a)

<class 'float'>
1.0

### a는 int인데 a를 float 형태로 바꾸는것

In [4]:
a = 1.2; a = int(a); print(type(a))
print(a)

<class 'int'>
1

### a는 float인데 a를 int 형태로 바꾸는것

In [5]:
a = '123'; print(type(a)); print(a[1])
b='korea'
print(b[0])

<class 'str'>
2
k

### print(a[0])는 맨첫번째걸 출력

In [6]:
a = '123';
a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

### 리스팅할때 어떤 타입의 variable들도 들어갈 수 있다. 리스트 속에 리스트가 들어갈 수 도있다.

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [10]:
a=[1,2,3]
a[0]=-1
a
a=(1,2,3)
a[0]=-1
a`

[-1, 2, 3]

### tuple은 list와 달리 안의 내용을 못바꿈

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]